<div style="height: 100vh;" class="w-100 ">
    <div class="h-100 d-flex align-items-center justify-content-center overflow-auto">
        
            <div  class="w-50 shadow-lg p-3 mb-5 bg-body rounded">
                <div class="d-flex align-items-center justify-content-center p-2">
                    <img src="./assets/logo.svg" style="width: 15vw;" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="email" [(ngModel)]="payload.Email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input  name="password" type="password" class="form-control" id="password" aria-describedby="passwordHelp" [(ngModel)]="payload.Password">
                    <div id="passwordHelp" class="form-text">
                        The password must be at least eight characters long and include at least one uppercase letter, one lowercase letter, and one number.Can include special characters.
                    </div>
                </div>
                <button type="button" class="btn btn-primary" (click)="SignIn()">Sign In</button>
               
            </div>
    </div>

</div>
